
@import '../abstracts/mixins';

/*     #app{
        @include flexb-c();
    } */

    #content{
        overflow: hidden;
        .content-main{




            .content-text{
                @include flexb-c();
                font-size: 1rem;
                line-height: 2rem;

                p{
                    text-align: center;

                    padding: 3rem 0rem;
                    font-weight: 400;
                }
            }

            .content-item {
                @include flexb-s-b();
                align-items: flex-start;


                .content-left{
                    font-size: 1rem;
                    line-height: 2rem;



                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                    .text-img{
                        width: 100%;
                        font-size: 2rem;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                        font-size: 2rem;
                        h3{
                            padding: 1rem;
                            font-size: 2.5rem;
                            font-weight: 600;
                            color: #FE5722;
                            b{
                                opacity: 0.7;
                            }

                        }

                        span{
                            padding-right: 1rem;
                            color: antiquewhite;
                            opacity: 0.7;
                        }

                        .btn-sneaker{
                            padding: 0.5rem 1.5rem;
                            margin: 2.2rem 3rem 1rem 3rem;
                            background-color: #FE5722;
                            color: white;
                            border: solid;
                            width: 200px;
                            }

                    }

                }

                .content-right{

                    .img-content{
                        margin: 2rem 0rem;
                    }


                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                    .text-img{
                        width: 100%;
                        font-size: 2rem;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        font-size: 2rem;
                        h3{
                            padding: 1rem;
                            font-size: 2.5rem;
                            font-weight: 600;
                            color: #8BE3EF;
                            b{
                                opacity: 0.7;
                            }

                        }


                        .btn-sneaker{
                            padding: 0.5rem 1.5rem;
                            margin: 1rem 1rem 1rem 3rem;
                            background-color: #8BE3EF;
                            color: white;
                            border: solid;
                            width: 200px;
                        }

                    }
                }
                .content-bg-content2{
                    margin: 2rem 0;
                    height: 290px;
                    background-repeat: no-repeat;
                    background-size: cover;


                }



            }
        }
    }


    /* content2 */

    #Service{
        overflow: hidden;
        padding-bottom: 2rem;
        background-color: #F3F3F3;

        .Service-main{

            .Service-title{

                padding: 1rem 0;
                padding-top: 2rem;
                text-align: center;
                h2{

                    span{

                        color: #2C5987;
                    }
                }
            }
            .Service-item{
                @include flexb-s-b();
                align-items: flex-start;

                .Service-content{
                    padding: 1rem;
                    position: relative;
                    transition: all 1s;

                    .img-Service{

                        @include img();
                    }

                    .text-btn-Service{
                        position: absolute;
                        bottom: 2rem;
                        left: 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;

                        .btn-Service{
                            background-color: #F3F3F3;
                            border-radius: initial;
                            width: 200px;
                        }
                    }
                }

                .Service-content:hover{

                    padding: 0rem;
                }
            }
        }

    }

    /* introduce */

    #introduce{
        overflow: hidden;
        padding: 2rem 0rem;

        .introduce-main{
            padding: 2rem 0rem;


            .introduce-item{
                display: flex;
                flex-wrap: wrap;
                align-items: flex-start;
                justify-content: center;
                align-content: center;
                .introduce-left{


                    h2{
                        border: none;
                        text-align: left;
                        padding: 0;
                        margin: 0;
                    }

                    q{
                        opacity: 0.5;
                    }

                    p{
                        text-align: left;
                    }

                    span{
                        font-size: 2.5rem;
                        font-weight: 600;
                    }

                    .text-btn{
                        padding-top: 1rem;

                        .btn-1{

                            border-radius: initial;
                            width: 200px;
                            height: 50px;
                            background: #2C5987;




                            a{
                                text-decoration: none;
                                color: #fff;
                            }
                        }

                        .btn-1:hover{
                            border: solid 2px rgba(1, 132, 247, 0.721);
                            box-shadow: 1px 0px 5px 3px rgb(44, 89, 135,.5);
                            -moz-box-shadow: 1px 0px 5px 3pxrgb(44, 89, 135,.5);
                            -webkit-box-shadow: 1px 0px 5px 3px rgb(44, 89, 135,.5);
                            -o-box-shadow: 1px 0px 5px 3px rgb(44, 89, 135,.5);
                            -ms-box-shadow: 1px 0px 5px 3px rgb(44, 89, 135,.5);

                        }

                    }

                }
                .introduce-right{
                    img{
                        @include img();
                    }
                }


            }
            .introduce-bot{
                padding: 1rem;
                width: 100%;
                text-align: center;
            }
        }

    }

    /* content4 */

    #slide-product{
        background-color: white;
        padding: 2rem 0rem;
        overflow: hidden;

        .slide-product-main{


            .product_main_slider{
                padding: 3.5rem 0rem;
            }

            .slide-product-item{

                .slick-list{


                    .slick-track{

                        .product-slide{
                            padding: 1rem;

                            a{
                                text-decoration: none;
                                color: black;

                                .img-product{
                                    @include img();

                                }

                                .text-product{
                                    padding-top: 2.5rem;
                                    line-height: 2.2rem;
                                    @include flexb-col-c();

                                    p{
                                        text-align: center;
                                        padding: 0;
                                        margin: 0;
                                    }

                                }
                            }

                        }

                    }
                }
            }
        }

    }

    /* .content5 */
    #counselling{

        padding: 2rem 0;
        overflow: hidden;
        width: 100%;
        height: auto;
        background-repeat: no-repeat;
        background-size: cover;

        .counselling-main {
            color: black;
            @include flexb-c();

            .counselling-title{
                text-align: center;
                font-weight: 900;
                color: red;
                font-size: 1rem;
                line-height: 2rem;

                h2{
                    padding: 1.5rem;
                }

                h3{
                    font-weight: bold;
                }

                span{

                    i{
                        padding: 1rem;
                        font-size: 1rem;
                    }
                    #phone{
                    transform: rotate(-41deg);
                    position: relative;
                    top: -6px;
                    }
                }
            }



            .sale-content{
                .text-introduce{
                    span{
                        font-size: 40px;
                        font-weight: 800;
                        color: #FE5722;

                    }
                }
            }

        }


    }
    .counselling-item{
        display: flex;

        .form-content {
            padding: 0.5rem !important;
            margin: 0 !important;
            border-radius: 0 !important;
            background-color: rgba(252, 252, 252, 0.3);
        }

        .form-content::placeholder{
            text-align: center;
            opacity: 0.5;
            font-weight: 600;
        }
    }


    /* .partner */
    #partner{
            background: #F3F3F3;
            width: 100%;
            height: auto;
            overflow: hidden;
            .partner-item{
                padding: 2rem 0;

                .slick-list{

                    .slick-track{

                        a{
                            text-decoration: none;
                            color: black;
                            display: flex;
                            align-items: center;
                            font-size: 1rem;
                            justify-content: center;
                        }
                    }
                }
            }

    }

    /* .content6 */
    #new{
        width: 100%;

        padding: 2rem 0;
        overflow: hidden;
        height: auto;
        background-repeat: no-repeat;
        background-size: cover;

        .new-main{
            display: flex;
            @include flexb-c();
            align-items: normal;

        .new-item{
            padding: 1rem;
/*             img{
                height: 450px;
            } */

        }
        }
    }

    .bg__style_session_tow{


            .image__content{
                display: block;
                max-width: 100%;
                height: auto;
                background: url(../../images/image__content.png);
                /* IMAGE */

                height: 720px;
                border-radius: 0px;

                background-size: 100% auto;
                background-repeat: no-repeat;
            }





    }

    .image__bg{
        background: url(../../images/IMAGE.png);
        /* IMAGE */
        background-size: 100% auto;
        background-repeat: no-repeat;
        .image__conten__2{
            /* Rectangle */
            padding: 5rem 0;

            background: rgba(255, 255, 255, 0.627);
            border-radius: 0px;
            position: relative;


            h5{
                /* Eye Design International Academy 15 years of experience but always in continuous growth. Plump for not to stop, try it online! */
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 30px;
                line-height: 39px;
                /* or 130% */
                text-align: center;

                color: #000000;
                /* Eye Design International Academy 15 years of experience but always in continuous growth. Plump for not to stop, try it online! */



            }

            .btn_start_now{
                /* Rectangle */
            box-sizing: border-box;
            width: 161px;
            height: 50px;
            background: #E9D7CB;
            border: 2px solid #E9D7CB;
            box-shadow: 0px 4px 6px rgba(50, 50, 93, 0.11);
            border-radius: 4px;

            }

        }

    }


    .bg__style_session_three{
        /* Rectangle */
            background: #F5EAE7;
            padding-top: 5rem;

            .image_content2{
                /* IMAGE */
            border-radius: 0px;

            }

            .card__style__3{

            }

            .card__text_style{

                h3{
                    text-align: left;
                    /* Leader in training */
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 31px;
                    /* identical to box height, or 130% */

                    color: #000000;


                }
                p{
                    text-align: left;
                    /* For 33 years present in the aesthetic dermopigmentation sector and beyond, we are committed to developing innovative protocols to enable the */

                    font-family: 'Open Sans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 29px;
                    /* or 180% */

                    color: #000000;


                }
            }

    }

    /* IMAGE */

    .bg__style_session_four{
        /* Rectangle */
            background: #FFFFFF;
            padding-top: 5rem;

            .image_content2{
                /* IMAGE */
            border-radius: 0px;

            }

            .card__style__3{

            }

            .card__text_style{

                h4{
                    /* CONTACT US! */

                        font-family: 'Open Sans';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 29px;
                        /* identical to box height, or 180% */

                        color: #E9D7CB;


                }

                h3{
                    text-align: left;
                    /* Leader in training */
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 31px;
                    /* identical to box height, or 130% */

                    color: #000000;


                }
                p{
                    text-align: left;
                    /* For 33 years present in the aesthetic dermopigmentation sector and beyond, we are committed to developing innovative protocols to enable the */

                    font-family: 'Open Sans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 29px;
                    /* or 180% */

                    color: #000000;
                    padding-bottom: 1rem;

                }
            }

    }


/* Extra small devices (phones, 576px and down) col- */
@media only screen and (max-width: 576px) {


    .content{
        .content-main{
            .content-item{
                .content-bg-content2{
                    width: 100%;
                    .text-img {
                        align-items: center;

                        .btn-sneaker {
                            padding: 0.5rem 1.5rem;
                            margin: 1rem 1rem 1rem 1rem;
                        }

                    }
                }
            }
        }
    }

}

  /* Small devices (portrait tablets and large phones, 600px and up) col-sm */
@media only screen and (min-width: 576px) and (max-width: 768px) {

    .content{
        .content-main{
            .content-item{

                .content-bg-content2{
                    width: 100%;
                    .text-img {
                        align-items: center;

                        .btn-sneaker {
                            padding: 0.5rem 1.5rem;
                            margin: 1rem 1rem 1rem 1rem;
                        }

                    }
                }
            }
        }
    }

     }


                   /* Extra large devices (large laptops and desktops, 1200px and 1400px) col-xl */
@media only screen and (min-width: 992px)  and (max-width: 1200px) {

    }

@media only screen and (min-width: 1200px) and (max-width: 1400px){


    }

@media only screen and (min-width: 1400px) {

        }



.li-show-style{
    margin-bottom: 1rem;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;

    p{
        padding: 8px;
        padding-left: 15px;
        position: relative;
    }
    .nav-content-header{
        .show-minus{
            display: none;
        }

        span{
            position: absolute;
            right: 10px;
            top: 4px;
            opacity: 0.3;
            font-size: 22px;
        }
    }

    .down{
        .show-minus{
            display: block;
        }
        .show-plus{
            display: none;
        }
    }
    .nav-content-header::after {
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: 1.25rem;
        border: 1px solid #ced4da;
        border-radius: 50%;
        color: #ced4da;
        content: "";
        height: 40px;
        line-height: 30px;
        position: absolute;
        right: 0;
        top: 0px;
        transform: scale(.7)!important;
        transition: transform .2s ease-in-out;
        width: 40px;
    }
}
