

@import '../abstracts/mixins';

$LiColor: rgb(255, 255, 255);
$ahoverColor: rgb(245, 164, 0);
$bg:rgba(0, 0, 0);

header{

}

.sticky{
    position: fixed;
    width: 100%;
    position: -webkit-sticky;
    top: 0;
    z-index: 1099;
}



.header-destop{

    .header-top{
        @include flexb-s-b();
        color: rgb(37, 33, 33);
        .left-header{
            padding: 0.3rem;
            font-size: 0.9rem;
        }

        .right-header{
          padding-top: 1rem;
            font-size: 0.9rem;
            color: rgb(0, 0, 0);
            i{
              padding-right: 1rem;

            }
        }

    }

    .menu{
        @include flexb-s-b();
        flex-wrap: nowrap;
        width: 100%;


        .logo{

            img{
              @include img();
              /* EYE DESIGN FINAL WHITE BKG LOGO WATERMARK 3 */
                width: 100px;
                height: auto;
                left: 79px;
                top: 32px;
                margin-bottom: 10px;
                margin-top: 10px;
            }
        }
        @include ul();
        /* CSS cho menu chính */
        .menu-main {
            display: flex;
            width: 100%;
            justify-content: space-between;
            padding: 0;
            margin: 0;
            list-style: none;
        }

        .menu__item {
            position: relative;
        }

        .menu__item > a {
            color: #333;
            text-decoration: none;
        }

        .menu__item.menuhover:hover > a {
            color: #fff;

            border-radius: 3px;
        }

        .menu-sub {
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 1;
            display: none;
            padding: 0;
            margin: 0;
            list-style: none;
            background-color: #fff;
            box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
            width: 200px;

            li{
                padding: 0 1rem;
            }
        }

        .menu__item:hover > .menu-sub {
            display: block;
        }

        .menu_sub_page {
            position: absolute;
            top: 0;
            left: 100%;
            z-index: 2;
            display: none;
            padding: 0;
            margin: 0;
            list-style: none;
            background-color: #fff;
            box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);

            li{
                padding: 0 1rem;
                width: 200px;
                a{
                    display: block;
                }
            }

        }

        .menu-sub > li:hover .menu_sub_page {
            display: block;
            padding: 0 1rem;
        }

        .active__menu__item a {
            color: #fff;

            border-radius: 3px;
        }



    }
    .menu-bot{


        .menu-main-bot{

            .menu__item{

            }

            .active__menu__item{

                /* Rectangle */

                box-sizing: border-box;
                border: 1px solid #7B4433;
                border-radius: 0px;

            }

            li{
                width: inherit;

                a{
                    font-family: 'Lato';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 40px;
                    /* identical to box height, or 333% */
                    text-align: right;
                    color: black;
                }
            }
        }
    }
}

///@at-root
.header-mobile{
.container{
  .header-main{
    @include flexb-s-b();

    .logo{
      padding: 0.8rem 0;

      img{
        width: 200px;
        height: 100%;
        object-fit: cover;
      }
    }
    .header-top{
      @include flexb-s-b();

      color: white;
      line-height: 2rem;
      font-size: 0.9rem;
      padding: 0 1rem;
      padding-top: 1rem;

  }


  }
}



 .menu-mobile{
  width: 100%;
  overflow: hidden;

  @keyframes bugfix { from {padding:0;} to {padding:0;}}
  @-webkit-keyframes bugfix { from {padding:0;} to {padding:0;}}
  justify-content: flex-start;
  #overlay-button {
  position: absolute;
  right: 0em;
  top: 22%;
  padding: 26px 11px;
  z-index: 200;
  cursor: pointer;
  user-select: none;
  span {
      height: 4px;
      width: 35px;
      border-radius: 2px;
      background: #5b5a5a;
      position: relative;
      display: block;
      transition: all .2s ease-in-out;
      &:before {
          top: -10px;
          visibility: visible;
          background: #5b5a5a;

      }
      &:after {
          top: 10px;
          background: #5b5a5a;
      }
      &:before, &:after {
          height: 4px;
          width: 35px;
          border-radius: 2px;
          background: #5b5a5a;
          position: absolute;
          content: "";
          transition: all .2s ease-in-out;
      }
      }
      &:hover span, &:hover span:before, &:hover span:after {
        background: #5b5a5a;
      }
  }

  input[type=checkbox] {
  display: none;

  &:checked ~ #overlay {
      visibility: visible;
  }

  &:checked ~ #overlay-button {

      &:hover span, span{
      background: transparent;
      }
      span {
      &:before {
          transform: rotate(45deg) translate(7px, 7px);
          opacity: 1;
      }
      &:after {
          transform: rotate(-45deg) translate(7px, -7px);
      }
      }
  }
  }

  #overlay {
  height: 100vh;
  width: 100%;
  z-index: 100;
  visibility: hidden;
  overflow: auto;
  display: flex;
  justify-content: space-around;
  position: absolute;
  background: white;

  &.active {
      visibility: visible;

  }
  ul {
        width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      text-align: center;
      height: fit-content;
      list-style-type: none;

      background: rgb(255, 255, 255 ,.5);
      padding: 0;
      border-radius: 10px;
      position: relative;

      li {
      text-align: center;
      position: relative;
      width: 100%;
      .menu-sub{
        margin: 0rem;
        top: 0rem;
        padding: 0;
        display: none;
        width: 100%;
      }

      a {
          color:black;
          text-decoration: none;
          font-size: 1em;
          line-height: 3rem;
          &:hover {
          color: #848484;
          }
      }
      &:hover{
        background-color: rgb(212 212 203 / 80%);
      }
      }





      .menuhover:hover{
        .menu-sub{
          display: block;

          .menu_sub_page{
            display: none;


          }

         li:hover{
          background: rgba(141, 133, 112, 0.2);
          color: black;

          .menu_sub_page{
            display: block;
          }

          a:hover{
            color: black;
          }
         }

        }
      }



  }
  ul::before{
/*       content: ""; */
      position: absolute;
      background: rgb(255, 255, 255 ,.15);
      inset: 0;
      transform: rotate(-5deg);
      border-radius: 10px;
      z-index: -1;


  }
  }
 }

}
///
///
/* Extra small devices (phones, 576px and down) col- */
    @media only screen and (max-width: 576px) {

        .header-destop-main{
          display: none;
        }

    }
  /* Small devices (portrait tablets and large phones, 600px and up) col-sm */
  @media only screen and (min-width: 576px) and (max-width: 768px) {




    .header-destop-main{
      display: none;
    }
     }
  /* Medium devices (landscape tablets, 768px and up) col-md */
  @media only screen and (min-width: 768px) and (max-width: 992px) {


    .header-destop-main{
      display: none;
    }
     }

           /* Extra large devices (large laptops and desktops, 1200px and 1400px) col-xl */
  @media only screen and (min-width: 992px)  and (max-width: 1200px) {

    .header-destop-main{
      display: none;
    }
  }

  /* Extra large devices (large laptops and desktops, 1200px and 1400px) col-xl */
  @media only screen and (min-width: 1200px)  and (max-width: 1400px) {

    .header-mobile{
      display: none;
    }




}

   /* Extra large devices (large laptops and desktops, 1400px and up) col-xxl */
  @media only screen and (min-width: 1400px){
    .header-mobile{
      display: none;
    }


  }

