.img{
    width: 100%;
    object-fit: cover;
    height: auto;
}

 .p{
    margin: 0;
  }


  .a{
    text-decoration: none;
    color: black;
  }

  .d-flex{
    display: flex;
  }

  .col-flex{
    display: flex;
    flex-direction: column;
  }

  .align-c{
    align-items: center;
  }

  .product__thumbnail {
    max-width: 60px;

    a{
       position: relative;
       text-decoration: none;
       transition: all .4s ease;
    }

    img {
       max-width: 100%;
       width: 60px;
       height: 60px;
       object-fit: cover;
    }
 }




 $font-size: 0.9rem;
 $border-radius: 6px;
 $btn-bg-color: rgba(38, 37, 37, 0.3);
 $btn-width: 20px;
 $btn-height: 50px;

 .form-qty{
    width: 150px;
     .input-number{
         position: relative;
         margin: 1rem 0;
         display: flex;
         justify-content: center;

         .decrease {
             position: absolute;
             top: 50%;
             transform: translateY(-50%);
             width: 20px;
             height: 20px;
             max-width: 20px;
             color: black;
             font-size: 30px;
             border: 1px solid #ddd;
             background: none;
             padding: 1rem;
             left: 0;

             &:hover {
                 background-color: lighten($btn-bg-color, 10%);
             }
             &:before{
                 position: absolute;
                 top: 50%;
                 left: 50%;
                 display: inline-block;
                 content: "";
                 width: 14px;
                 height: 1px;
                 background-color: black;
                 transform: translate(-50%,-50%) rotate(0deg);
             }
         }

         .increase {
             position: absolute;
             top: 50%;
             right: 0;
             transform: translateY(-50%);
             width: 20px;
             height: 20px;
             max-width: 20px;
             color: black;
             font-size: 30px;
             border: 1px solid #ddd;
             background: none;
             padding: 1rem;

             &:hover {
                 background-color: lighten($btn-bg-color, 10%);
             }
             &:before{
                 position: absolute;
                 top: 50%;
                 left: 50%;
                 display: inline-block;
                 content: "";
                 width: 14px;
                 height: 1px;
                 background-color: black;
                 transform: translate(-50%,-50%) rotate(0deg);
             }

             &:after{
                 position: absolute;
                 top: 50%;
                 left: 50%;
                 display: inline-block;
                 content: "";
                 width: 14px;
                 height: 1px;
                 background-color: black;
                 transform: translate(-50%,-50%) rotate(90deg);

             }



         }



             .number {
                padding-left: 0;

                 text-align: center;
                 width: 100px;
                 transition: 0.5s all ease-in-out;
                 border: none;
                 font-size: 1.7rem;

             }

             .number:focus-visible {
                 outline:none;

             }

             .number[type="number"] {
                 -webkit-appearance: textfield;
                    -moz-appearance: textfield;
                         appearance: textfield;
               }
               .number[type='number']::-webkit-inner-spin-button,
               .number[type='number']::-webkit-outer-spin-button {
                 -webkit-appearance: none;
               }
     }
     }


.font-s-09{

    font-size: 0.9rem;
}


.font-s-10{

    font-size: 1rem;
}
.font-s-12{

    font-size: 1.2rem;
}
.font-s-15{

    font-size: 1.5rem;
}
.font-s-18{

    font-size: 1.8rem;
}.font-s-20{

    font-size: 2rem;

}

.line-h-2{
    line-height: 2rem;
}

.close{
    position: relative;
    width: 20px;
    height: 20px;
    max-width: 20px;
    color: black;
    font-size: 30px;
    background: none;
    &:before{
        position: absolute;
        top: 50%;
        left: 50%;
        display: inline-block;
        content: "";
        width: 15px;
        height: 1px;
        background-color: black;
        transform: translate(-50%,-50%) rotate(45deg);
    }

    &:after{
        position: absolute;
        top: 50%;
        left: 50%;
        display: inline-block;
        content: "";
        width: 15px;
        height: 1px;
        background-color: black;
        transform: translate(-50%, -50%) rotate(135deg);

    }




}




.alert-success{
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 100;
}

.flexb-c {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
}


.slick-track{
    display: flex;

    .slick-slide{
        display: flex;
        height: auto;
        align-items: center; //optional
        justify-content: center; //optional
    }
}

.line_clamp_2{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.line_clamp_3{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.line_clamp_4{
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.line_clamp_5{
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.Foo{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 139.8%;
    color: #000000;
}

.cke_dialog_ui_button{
    margin-top: 22px !important;
}


.neat-cow-49 {
    position: relative;
    background-color: #C81F24;
    border-radius: 10px;
    padding: 15px 37px;
    background-repeat: no-repeat;
    box-sizing: border-box;
    color: #fff;
    border: none;
    transition: all .3s ease-in-out;
    z-index: 1;
    overflow: hidden;
  }

  .neat-cow-49::before {
    content: "";
    background-color: rgb(129, 2, 29);
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 700ms ease-in-out;
    display: inline-block;
  }

  .neat-cow-49:hover::before {
    width: 100%;
  }

.information{
    .inf{
        padding: 0.3rem;
        align-items: center;
        border-radius: 5rem;
        background: rgb(251 251 251 / 70%);
        flex-direction: row;
        align-items: center;
        padding: 0rem;
        margin: 10px;
        overflow: hidden;
        font-family: serif;
        height: 80px;
        color: #564444;
        .inf-img{
            width: 80px;
            height: 80px;
            object-fit: cover;

            padding: 0.4rem;
            border-radius: 3rem;

           img{
            border-radius: 2rem;
           }
        }
        .inf-text{
            max-width: 300px;
            font-weight: 900;
            font-size: 1rem;

        }
    }


}

.slider-img{

    position: relative;

    .img-cover{
        width: 100%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 15%;
    }
}

.header-content{
    text-align: center;


}

.text-gardian{
    text-transform: uppercase;
    background: black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 100%;
    transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
    font: {
        font-size: 2.5rem;
        font-weight: 900;
}

h3{
    font-weight: bold;
}
}


.cards-col-3{
    --columns: 3;
}



.text-count{
    	/*CSS counters to number the steps*/
	counter-reset: step;
}


.text-count
{
    p{
        position: relative;
    }
p:before {
    content: counter(step);
    width: 15px;
    line-height: 15px;
    display: block;
    font-size: 10px;
    color: #F5C30F;
    background: #F5C30F;
    border-radius: 3px;
    margin: 0 auto 5px auto;
    position: absolute;
    top: 11px;
    left: -30px;
    text-align: center;
    font-size: 0.9rem;
    border-radius: 1rem;
  }

}
.text-01{

    padding-left: 2rem;
    position: relative;


    p{
        margin: 0;
    }
}


@keyframes neon1 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff1177,
        0 0 70px #ff1177, 0 0 80px #ff1177, 0 0 100px #ff1177, 0 0 150px #ff1177;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff1177,
        0 0 35px #ff1177, 0 0 40px #ff1177, 0 0 50px #ff1177, 0 0 75px #ff1177;
    }
  }

  .card-style-01{
    margin: 0px 25px 50px 25px;
    color: white;
  }

  .card-position{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem;
    background-color: aliceblue;
    border-radius: 3rem;
    bottom: -60px;
    z-index: 51;
    span{
        font-size: 3rem;
    color: aliceblue;
    background-color: blue;
    padding: 0.6rem;
    border-radius: 2rem;
    }
  }

  .sale-content-main{
    font-size: 1rem;
    padding-top: 1rem;
    line-height: 2rem;
    width: 100%;
    font-weight: 500;
    p{
        margin: 0;
    }

  }

  .flexb-s-a {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    align-content: center;
}

.flexb-col-c {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}



@media only screen and (max-width: 576px) {




}

  /* Small devices (portrait tablets and large phones, 600px and up) col-sm */
@media only screen and (min-width: 576px) and (max-width: 768px) {



     }

     @media only screen and (min-width: 768px) and (max-width: 992px) {
        .bg-ad-form-left{
            margin-right: 1rem;
        }

         }
                   /* Extra large devices (large laptops and desktops, 1200px and 1400px) col-xl */
@media only screen and (min-width: 992px)  and (max-width: 1200px) {
    .bg-ad-form-left{
        margin-right: 1rem;
    }
    }

@media only screen and (min-width: 1200px) and (max-width: 1400px){
    .bg-ad-form-left{
        margin-right: 1rem;
    }

    }

@media only screen and (min-width: 1400px) {

    .bg-ad-form-left{
        margin-right: 1rem;
    }
        }

        .text-bot-card{
            font-size: 14px;
            padding: 0 15px 15px 15px !important;
        }
@media screen and (max-width: 767px)
{.information {
    width: 100% !important;
    margin: 0 !important;

}}


.published{
    padding: 5px;
    background: aquamarine;
}

.pending{
    padding: 5px;
    background: rgb(250, 235, 137);
}

.draft{
    padding: 5px;
    background: rgb(255, 94, 83);
}

.right-sidebar{
    padding: 1rem;
}


// Variables
.cards-col-3{
    --columns: 3;
}


.bg--gradient{
    background: linear-gradient(-45deg, #f80101, #f4d446);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.line_clamp_2{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.line_clamp_3{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.line_clamp_4{
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.line_clamp_5{
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.text-border{

    padding-left: 1rem;
    border-left: solid 5px red;

}


/* button-animation */

.button-animation{
    border-radius: 0;
    width:200px;
    height:70px;
    background: red;
    border-style: none;
    color:#fff;
    font-size: 23px;
    letter-spacing: 3px;
    font-family:'Roboto', arial, sans-serif;
    font-weight: 600;
    outline: none;
    cursor: pointer;
    position: relative;
    padding: 0px;
    overflow: hidden;
    transition: all .5s;
    box-shadow: 0px 1px 2px rgba(0,0,0,.2);
}
.button-animation span{
    position: absolute;
    display: block;
}
.button-animation span:nth-child(1){
    height: 3px;
    width:200px;
    top:0px;
    left:-200px;
    background: linear-gradient(to right, rgba(0,0,0,0), #f6e58d);
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    animation: span1 2s linear infinite;
    animation-delay: 1s;
}

@keyframes span1{
    0%{
        left:-200px
    }
    100%{
        left:200px;
    }
}
.button-animation span:nth-child(2){
    height: 70px;
    width: 3px;
    top:-70px;
    right:0px;
    background: linear-gradient(to bottom, rgba(0,0,0,0), #f6e58d);
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    animation: span2 2s linear infinite;
    animation-delay: 2s;
}
@keyframes span2{
    0%{
        top:-70px;
    }
    100%{
        top:70px;
    }
}
.button-animation span:nth-child(3){
    height:3px;
    width:200px;
    right:-200px;
    bottom: 0px;
    background: linear-gradient(to left, rgba(0,0,0,0), #f6e58d);
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    animation: span3 2s linear infinite;
    animation-delay: 3s;
}
@keyframes span3{
    0%{
        right:-200px;
    }
    100%{
        right: 200px;
    }
}

.button-animation span:nth-child(4){
    height:70px;
    width:3px;
    bottom:-70px;
    left:0px;
    background: linear-gradient(to top, rgba(0,0,0,0), #f6e58d);
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
    animation: span4 2s linear infinite;
    animation-delay: 4s;
}
@keyframes span4{
    0%{
        bottom: -70px;
    }
    100%{
        bottom:70px;
    }
}

.button-animation:hover{
    transition: all .5s;
    transform: rotate(-3deg) scale(1.1);
    box-shadow: 0px 3px 5px rgba(0,0,0,.4);
}
.button-animation:hover span{
    animation-play-state: paused;
}



.mb-3rem
{
  margin-bottom: 3rem;
}

.mb-4rem
{
  margin-bottom: 4rem;
}

.mb-5rem
{
  margin-bottom: 5rem;
}


.bor-ra-1rem{
    border-radius: 1rem;
}

.bg-style{
    background-color:  #F5EAE7;;
}


.btn-sp{
    margin: 1rem 1rem 1rem 0rem;
    padding: 10px;
}


#counselling{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    opacity: inherit;
}


.fp-section{
    height: auto !important;
}

html {
    scroll-behavior: smooth;
  }
a:hover{
    color: #425393;
}
.holder{

    img{
        width: 200px !important;
        height: auto !important;
        object-fit: cover;
    }
}




.none{
    display: none;
}
.current{
    display: block;
}

.navbar-toggler {
    background-color: #949494 !important;
}


.table > :not(caption) > * > * {

}
.content-item-d{
    display: flex;
    padding: 1rem 0;
    color: white;
    .content-item-contact{
        line-height: 2.5rem;
        span{
            color: white;
        }
    }
}
.text-new{

    p{
        padding-bottom: 5px;
        border-bottom: 2px solid #ddd;

    }
}

.pd{
padding: 15px;

}

.content-main-style-1{
    display: flex;
    background: #F9F5F2;

    .panel-1{
        margin: 1rem;
    }
}

.bg-span{
    background-color: #d9edf7;
    border: 1px solid #bce8f1;
    cursor: help;
    display: block;
    font-size: .9em;
    margin-bottom: 10px;
    margin-top: 5px;
    padding: 5px;
}

.data-repeater-item{
    position: relative;
}

.remove-item-button{
    position: absolute;
    top: 5px;
    right: 22px;
    text-align: center;
    width: 24px;
    background: rgb(161 161 161 / 74%);;
    border-radius: 1rem;
}

.data-repeater-form{
    border: solid 1px #bebebe;
    margin: 1rem;
    padding: 0 1rem 1rem;
}

.bg-add{
    width: 80px;
    color: white;
    background: #0b43daa8;
}



////
///
///
///


.menu_add{
    max-width: 200px;
    border-radius: 36px;
    padding: 0 !important;

    margin: 10px;

    .menu_add_btn{
        width: 100%;
        border-radius: 36px;
        margin: 0 !important;
    }
}

.hidden{
    display: none;
}

.hidden-active{
    display: block;
}

.btn-set{
    padding-top: 10px;

    button{
        padding: 0.3rem 1.2rem;
        color: white;
    }
}




.switch {
    --button-width: 3.5em;
    --button-height: 2em;
    --toggle-diameter: 1.5em;
    --button-toggle-offset: calc((var(--button-height) - var(--toggle-diameter)) / 2);
    --toggle-shadow-offset: 10px;
    --toggle-wider: 3em;
    --color-grey: #cccccc;
    --color-green: #4296f4;
   }

   .slider {
    display: inline-block;
    width: var(--button-width);
    height: var(--button-height);
    background-color: var(--color-grey);
    border-radius: calc(var(--button-height) / 2);
    position: relative;
    transition: 0.3s all ease-in-out;
   }

   .slider::after {
    content: "";
    display: inline-block;
    width: var(--toggle-diameter);
    height: var(--toggle-diameter);
    background-color: #fff;
    border-radius: calc(var(--toggle-diameter) / 2);
    position: absolute;
    top: var(--button-toggle-offset);
    transform: translateX(var(--button-toggle-offset));
    box-shadow: var(--toggle-shadow-offset) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
    transition: 0.3s all ease-in-out;
   }

   .switch input[type="checkbox"]:checked + .slider {
    background-color: var(--color-green);
   }

   .switch input[type="checkbox"]:checked + .slider::after {
    transform: translateX(calc(var(--button-width) - var(--toggle-diameter) - var(--button-toggle-offset)));
    box-shadow: calc(var(--toggle-shadow-offset) * -1) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
   }

   .switch input[type="checkbox"] {
    display: none;
   }

   .switch input[type="checkbox"]:active + .slider::after {
    width: var(--toggle-wider);
   }

   .switch input[type="checkbox"]:checked:active + .slider::after {
    transform: translateX(calc(var(--button-width) - var(--toggle-wider) - var(--button-toggle-offset)));
   }



   .widget-title {
    background: none;
    border-bottom: 1px solid #eee;
    cursor: move;
    overflow: hidden;
    padding: 10px 5px;
    color: #1f64a0!important;

    h4{
        font-size: 20px;
    }
}

.bootstrap-tagsinput{
    width: 100%;
}
.label-info{
    background-color: #17a2b8;

}
.label {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,
    border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.flexbox-annotated-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 auto 2rem;
    max-width: 103.6rem;
}
.side-nav-closed{
    #menu-ad{
        width: 50px;

        li:hover{
            width: 200px;
        }

        li{
            .nav-pills
            {
                width: auto;
            }
        }


    }
}

.btn-set{
    display: flex !important;
}

.bg__style_session_one{
    background: url(../../images/bg_ss01.png);
    width: 100%;
    height: auto;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;

}

.bg__striky{
    background: rgba(226, 220, 220, 0.6);
}

.text__header{
    /* OUR TREATMENTS */
    h2{
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 38px;
        /* identical to box height, or 127% */
        text-align: center;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        color: #7B4433;
    }

    p{
        /* Browse from our range of professionally delivered and specialised treatments and Book Online! */


        font-family: 'Cormorant';
        font-style: normal;
        font-weight: 400;
        font-size: 19px;
        line-height: 25px;
        /* identical to box height, or 132% */
        text-align: center;

        color: #7B4433;


    }

}



    .btn__ss__01{
        /* Rectangle */
        box-sizing: border-box;
        width: 181px;
        height: 52px;
        border: 1px solid #7B4433;
        border-radius: 0px;

        span{
            /* BOOK NOW */
            font-family: 'Lato';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 24px;
            /* identical to box height, or 200% */
            letter-spacing: 2.4px;
            text-transform: uppercase;

            color: #7B4433;


        }
    }



.h3__ss__01{
    /* Cosmetic Tattooing & Eyelash Extensions in Sydney */

        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        /* identical to box height, or 120% */
        text-align: center;
        letter-spacing: 1.2px;

        color: #7B4433;


}

.img__center{
    position: relative;
}

.info__view{
    width: 80%;
    height: 80%;
    margin: 10%;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;

       h3{
            /* NATURAL EYEBROW COUTURE */
            font-family: 'Lato';
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 28px;
            /* or 126% */
            text-align: center;
            letter-spacing: 1.61px;
            text-transform: uppercase;
            color: #FFFFFF;
            width: 100%;

        }

        a{
            /* View All */
            font-family: 'Cormorant';
            font-style: normal;
            font-weight: 400;
            font-size: 17px;
            line-height: 22px;
            /* identical to box height, or 127% */
            color: #F1F6F6;
            padding: 1rem 0;


        }
}

.info__view:hover{
    /* Rectangle */
    border: 1px solid #FFFFFF;
    border-radius: 0px;

}

.form__style{

    h3{
        /* Learn More About Us */

        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 38px;
        /* or 127% */
        letter-spacing: 1.5px;
        text-transform: uppercase;
        color: #000000;
        margin-left: 1rem;

    }

    p{
        /* Save time by eliminating the need to makeup every day */

        font-family: 'Crimson Text';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 23px;
        /* or 135% */

        color: #838383;


    }

    .btn__form{

        /* Rectangle */
            width: 100%;
            background: #FFFFFF;
            border-radius: 0px;
            text-align: left;
            height: 50px;
            margin: 1rem 0;

            h3{
                /* Learn More About Us */


            font-family: 'Lato';
            font-style: normal;
            font-weight: 400;
            font-size: 30px;
            line-height: 38px;
            /* or 127% */
            letter-spacing: 1.5px;
            text-transform: uppercase;

            color: #000000;


            }

        span{
            /* About Us */
            font-family: 'Cormorant';
            font-style: normal;
            font-weight: 400;
            font-size: 19px;
            line-height: 25px;
            /* identical to box height, or 132% */
            padding: 1rem;
            color: #5A5A5A;


        }
    }

}

.form__style{
    padding: 0 10%;
    margin: 1rem 0;
}

.bg__form{
    background-color: #F5EAE7;
}

.bg__form__01{
    background-color: #FAFAFA;

    h3{
        /* Is Cosmetic Tattooing for Me? */


        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        /* or 121% */
        letter-spacing: 1.08px;
        text-transform: uppercase;

        color: #000000;


    }

    .btn__form__dark{
        /* Rectangle */
        background: #4F4E4E;
        border-radius: 0px;
        text-align: center;

        span{
            /* Cosmetic Tattooing is perfect for... */

                font-family: 'Cormorant';
                font-style: normal;
                font-weight: 400;
                font-size: 19px;
                line-height: 25px;
                /* identical to box height, or 132% */

                color: #FFFFFF;


        }

    }
}

.btn__ss__01{
    /* Rectangle */
    box-sizing: border-box;
    border: 1px solid #000000;
    border-radius: 0px;
    text-align: center;
    height: 52px;

    span{
    /* BOOK A CONSULTATION */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    /* identical to box height, or 200% */
    letter-spacing: 2.4px;
    text-transform: uppercase;
    color: #000000;
    padding: 1rem;
    }

}

.btn__ss__dark{
    /* Rectangle */

    background: #3B3D40;
    border-radius: 5px;

    span{
        /* Show more */

        font-family: 'Crimson Text';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 23px;
        /* identical to box height, or 164% */
        text-align: center;
        text-transform: uppercase;

        color: #FFFFFF;


    }

}

.card__top__position__fb{

        position: absolute;
        left: 10px;
        top: 10px;
        /* Rectangle */
        width: 72px;
        height: 18px;
        border-radius: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* facebook */
        background: #3B5998;
        border-radius: 3px;


        span{
            text-align: center;
            color: #FFFFFF;
        }

}

.card__fb{

    .card__fb__style{
               /* Rectangle */
       background: #FFFFFF;
       box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05);
       border-radius: 12px;

    }
}

.card__fb{

    .card-content{

        .card-top{

            .card-title{
            /* Eva Mercedes Cosmetic Studio */
            font-family: 'Lato';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            /* or 114% */
            letter-spacing: 2px;
            text-transform: uppercase;

            color: #3B3D40;


            }

            .card-user{
                margin-top: inherit;

                .card-fb-info{

                    font-family: 'Crimson Text';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    /* identical to box height, or 143% */

                    color: #838D8F;

                    .tag{
                        /* #evamercedescosmeticstudio */
                        font-family: 'Crimson Text';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 20px;
                        /* identical to box height, or 143% */
                        color: #5E9FCA;
                    }
                }
            }

        }

        .card-bottom{
            /* Rectangle */
            padding-top: 10px;
            padding-bottom: 10px;
            border-top: solid 1px rgba(229, 226, 220, 0.4);

            span{
                padding: 0 10px;
            }
        }

    }
}

.slider_content{
    flex-direction: column;
    padding: 100px 2rem;

    h4{
        /* testimonials */
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 38px;
        /* identical to box height, or 127% */
        text-align: center;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        padding-bottom: 1rem;
        color: #000000;


    }

    p{
        /* Always excellent, friendly, gorgeous salon- a very happy customer! */
        font-family: 'Crimson Text';
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        line-height: 30px;
        /* or 115% */
        text-align: center;
        color: #2D2D2D;
        padding-bottom: 1rem;

    }

    span{
        /* Bronwen K */

        font-family: 'Cormorant';
        font-style: normal;
        font-weight: 400;
        font-size: 19px;
        line-height: 26px;
        /* identical to box height, or 135% */
        text-align: center;
        padding-bottom: 3rem;
        color: #838383;


    }
}

.bg__ss__slider{
    /* Rectangle */
    background: #D8B1A6;
    border-radius: 0px;

}

.contact_style{


    h3{
            /* Frequently Asked */
            padding-top: 50px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 42px;
            line-height: 27px;
            /* or 64% */
            padding-bottom: 2rem;
            color: #B4E1E6;

    }
    h4{
        /* Questions */
            padding-bottom: 1rem;
            font-family: 'Lato';
            font-style: normal;
            font-weight: 400;
            font-size: 30px;
            line-height: 38px;
            /* identical to box height, or 127% */
            letter-spacing: 1.5px;
            text-transform: uppercase;
            color: #FFFFFF;
    }
    span{
        /* What would you like to know? */


            font-family: 'Cormorant';
            font-style: normal;
            font-weight: 400;
            font-size: 19px;
            line-height: 25px;
            /* identical to box height, or 132% */
            padding-bottom: 2rem;
            color: #F1F6F6;



    }

    .text__contact{
        /* Rectangle */
        width: 100%;
        height: 50px;
        background: #FFFFFF;
        border-radius: 0px;
        display: flex;
        align-items: center;
        padding: 1rem 0;
        margin: 1rem 0 ;
        p{
            /* How do I book an appointment? */
            font-family: 'Cormorant';
            font-style: normal;
            font-weight: 400;
            font-size: 19px;
            line-height: 25px;
            /* identical to box height, or 132% */

            color: #5A5A5A;
            margin: 0px;
            padding-left: 1rem;


        }

    }

}


.contact__form{

    label{
        /* CAPTCHA */
        font-family: 'Crimson Text';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 16px;
        /* identical to box height, or 156% */
        color: #FFFFFF;

    }

    input{
        /* Rectangle */
        background: #FFFFFF;
        border-radius: 0px;

    }
    .btn__sb__contact{
        /* Rectangle */
        box-sizing: border-box;
        border: 2px solid #FFFFFF;
        border-radius: 0px;
        margin-top: 1rem;

        span{

       /* Message us */
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        /* or 305% */
        color: #B4E1E6;
        transform: matrix(1, 0, 0, -1, 0, 0);
        padding: 1rem;

        }
    }
}
