
    .side-nav-open {
        ul{
            width: 200px;
        }

}

.side-nav-closed{
    width: 50px;
        ul{
            width: 200px;
           li{
            height: 50px;
            a{
                height: 100%;
            }
            span {
                display: none;
            }
           }
            li:hover{
                position: relative;
                background: #2A3542;
                padding: 0;
                padding-left: 1rem;
                z-index: 1111111;
                p{
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    top: 0px;
                    align-items: center;
                    padding: 0;
                    justify-content: center;
                    display: flex;
                    width: 100%;
                }

                span{

                    display: block;

                    padding: 13px;
                    padding-left: 10px;
                    color: rgb(255, 255, 255);
                }
            }
        }
}



.li-show-style-ad{
    padding: 0;
    .active{
        background: rgb(91, 0, 0);
    }
    .p{
        padding: 10px;
    }

    ul{
        padding: 10px;

    }
}


