                .slick-arrow{
                    display: none;
                    position: absolute;
                    color: white;
                    border: none;
                    z-index: 2;
                    i{
                        font-size: 25px;
                        color: black;
                    }
                }
                .slick-arrow:hover{

                }
                .slick-prev{
                    top: 50%;
                    transform: translateY(-50%);
                    left: 75px;
                }
                .slick-next{
                    top: 50%;
                    transform: translateY(-50%);
                    right: 75px;
                }
                .slick-next::before{
                    content: none;
                }

                .slick-prev:before {
                    content: none;
                }

                .slick-dots{
                    background: #D8B1A6;
                    border-radius: 0px;
                    padding-bottom: 1rem;
                }

                .bg__slider__parnet{
                    background: #ffffff;

                }

                .img_parnet{

                        padding: 4rem;

                }
